body {
	padding: 0;
	margin: 0;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Header  */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
}

#header-right li {
	float: right;
}

#user {
	padding: 8px 15px 8px 10px;
}

li a {
	display: inline-block;
	color: #333;
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}


.img-thumbnail {
	border-radius: 50%;
	width: 40px;

}

/* Main Content */
#google-logo {
	padding-top: 10%;
	padding-bottom: 20px;
}

.align-content {
	text-align: center;
}

.searchBox-height {
	line-height: 1.5;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 1em;
	/* box-shadow: 0 1px 3px #333; */
	-webkit-box-shadow: 0 10px 6px -6px #77777730;
	-moz-box-shadow: 0 10px 6px -6px #77777730;
	box-shadow: 0 10px 6px -6px #77777730;
	border-radius: 4px;
}