body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

/* Header  */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
}

#header-right li {
	float: right;
	font-size: 0.9em;
}

#user {
	padding: 8px 15px 8px 10px;
}

li a {
	display: inline-block;
	color: #333;
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}


.img-thumbnail {
	border-radius: 50%;
	width: 40px;

}

/* Main Content */
#google-logo {
	padding-top: 10%;
	padding-bottom: 20px;
}

.align-content {
	text-align: center;
	margin-top: 10px;
}

.searchBox-height {
	line-height: 1;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 1em;
	/* box-shadow: 0 1px 3px #333; */
	-webkit-box-shadow: 0 10px 6px -6px #77777730;
	-moz-box-shadow: 0 10px 6px -6px #77777730;
	box-shadow: 0 10px 6px -6px #77777730;
	border-radius: 4px;
}

.button_holder {
	margin-top: 20px;
}

button {
	padding: 5px;
	color: #737373;
	border: none;
	background-color: #f3f3f3;
	width: 125px;
	height: 36px;

}

button:hover,
button:focus {
	color: #333;
	/* outline: 1px solid #e7e7e7; */
}

button:focus {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 2px;
	padding: 5px;
}

.lang-offering {
	padding-top: 20px;
	font-size: 0.8em;
}

.lang-offering li {
	display: inline;
	text-align: center;
}

.lang-offering li a {
	padding: 0 5px;
	color: blue;
}

.space {
	height: 100px;
}

/* Footer */

.footer {
	margin-bottom: 0px;
	color: #737373;
	padding: 0px;
}

.footer-top {
	padding-left: 20px;
	height: 30px;
	background-color: #f2f2f2d6;
	border-top: 1px groove #7373730d;
}

.footer-bottom {
	height: 30px;
	background-color: #f2f2f2d6;
	border-top: 1px groove #7373730d;
}

.footer-top h3 {
	font-weight: 100;
	font-size: 1em;
	padding: 8px;
	margin: 0;
}

.footer-bottom a {
	font-size: 0.8em;
	margin-bottom: 20px;
	font-weight: 300;

}

.footer-bottomLeft {
	float: left;
	padding: 8px 8px 8px 25px;
}

.footer-bottomRight {
	float: right;
	padding: 8px 8px 8px 25px;
}


.footer-bottomLeft a,
.footer-bottomRight a {
	text-decoration: none;
	color: #737373;
	display: inline;
	padding-right: 20px;

}

.footer-bottomLeft a:hover,
.footer-bottomRight a:hover {
	text-decoration: underline;
}